@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Herr+Von+Muellerhoff&family=Lobster&family=Open+Sans:ital,wght@1,300&family=Pacifico&family=Yesteryear&display=swap');
ul.menu{
    align-self: center;
    margin:0% 25% 0% 25%;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    list-style:none;
    color: white;
    
}

header.header{
    height: 80vh;
    background-image: url(../assets//images/clouds.png);
    align-content: center;
}
a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

h1.headline{
    text-align: center;

}
span.iama{
    
}

img.image{
    padding: 10px;
}










.words-wrapper{
    display: none;
}



span.words-wrapper{
    color: whitesmoke;
}

span.text-slider{
    color: hsla(0, 0%, 100%, 0.945);
    font-family: 'Tajawal', sans-serif;
    font-size: 30px;
}
span.iama{
    color:white;
    font-size: 30px;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

span.title{
    color: white;
    font-family: 'Sacramento';
    font-weight: 400;
    font-size: 5.0em;
    align-self: center;
    text-overflow: hidden;
    
}
a.btn {
    text-decoration: none;
    border: 1px solid #fff;
    text-transform: uppercase;
    color: #fff;
    padding: 15px 25px;
    border-radius: 30px;
    font-size: 14px;
    letter-spacing: 1px;
    margin-top: 14px;
    display: inline-block !important;
    line-height: 1.4;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    transition: all .2s ease;
}
.btn:hover{
    background-color:white;
    color: inherit;
}


section.about{
    margin-top: 5px;
}




